.container {
    /* width: auto; */

}
.modal {
    display:block !important;
    background-color: rgba(0, 249, 16, 0.09);

}

.modal-content {
    /* overflow: auto; */
    /* position:absolute; */
    /* left:100px; */
    /* right:100px; */
    width: 1000px;
    
}