<div class="panel panel-default">
    <div class="panel-heading">Users</div>
    <div class="panel-body">
        <table class="table table-striped table-condensed">
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Surname</th>
                <th>DateOfBirth</th>
                <th>MobileNumber</th>
                <th>Address</th>
                <th>Options</th>
            </tr>

            </thead>
            <tbody>
            <tr ng-repeat="user in users">
                <td><input type="checkbox" value="user.Name" ng-click="toggleSelection(users.indexOf(user))"/> {{user.Id}}
                </td>
                <td>{{user.Name}}</td>
                <td>{{user.Surname}}</td>
                <td>{{user.DateOfBirth}}</td>
                <td>{{user.MobileNumber}}</td>
                <td>{{user.Address}}</td>
                <td>
                    <button class="btn btn-success" ng-click="editDialog([user])">Edit</button>
                    <button class="btn btn-danger" ng-click="deleteDialog([user])">Delete</button>
                </td>
            </tr>
            </tbody>
        </table>
        <button ng-click="editDialog(usersSelected)" class="btn btn-success">Edit selected</button>
        <button ng-click="deleteDialog(usersSelected)" class="btn btn-danger">Delete selected</button>

    </div>
</div>


<div class="modal" ng-if="editDialogShown" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content container">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Edit users data</h4>
            </div>
            <div class="modal-body">
                <div ng-repeat="user in usersSelected">
                    <table class="table table-striped table-condensed">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Surname</th>
                            <th>DateOfBirth</th>
                            <th>MobileNumber</th>
                        </tr>

                        </thead>
                        <tbody>
                        <tr>

                            <td><input type="text" value="{{user.Name}}"/></td>

                            <td><input type="text" value="{{user.Surname}}"/></td>

                            <td><input type="text" value="{{user.DateOfBirth}}"/></td>

                            <td><input type="text" value="{{user.MobileNumber}}"/></td>

                            <td><input type="text" value="{{user.Address}}"/></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="dismissEditDialog()">Close</button>
                <button type="button" class="btn btn-primary" ng-click="saveChanges()">Save changes</button>
            </div>
        </div>
    </div>
</div>
<div class="modal" ng-if="deleteDialogShown" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content container">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Delete {{usersSelected.length}} users</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure delete {{usersSelected.length}} users?? </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="dismissDeleteDialog()">Close</button>
                <button type="button" class="btn btn-primary" ng-click="deleteSelectedUsers()">Save changes</button>
            </div>
        </div>
    </div>
</div>